<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="UTF-8"> 
<title>Title</title> 
</head> 
<body> 

<h2>로그인</h2>
<h3>환영합니다.</h3>

<br/><br/> 
<div id = "content">
 <a href="javascript:;" class="btn_social" data-social="google">구글ID로 로그인</a><br/> 
</div>
 <script> let socials = document.getElementsByClassName("btn_social"); 
 for(let social of socials) { 
	 social.addEventListener('click', function(){ let socialType = this.getAttribute('data-social'); 
	 location.href="/oauth2/authorization/" + socialType; }) }
 </script> 
 </body> 
 </html>

<style>

 a {
 color: sky;
  text-decoration:none;
 
 
 }
#content {

  position: absolute;
  top: 50;
  left: 875;
  width: 375;
  height: 500;
  border: thin solid #aaaaaa;
   -webkit-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
   box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 4px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
         }
         
</style>  